h2 {
    font-family: monospace
}

body {
    background-color: #eee;
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: monospace;
    color: darkblue;
    text-decoration: underline;
}

.calculations {
    font-family: monospace;
}

.calculation > .name {
    display: inline-block;
    color: purple;
    margin: 3px;
}

.calculation > .keyword {
    display: inline-block;
    margin: 3px;
    color: darkgray;
}

.inline-editor {
    display: inline-block;
    border: 1px #ccc solid;
    margin: 3px;
}

.calculation > .expression {

    /*width: 500px;
    height: 40px;*/
}

canvas.decorationsOverviewRuler {
    display: none;
}

.slider {
    display: none;
}