h2 {
    font-family: monospace
}

body {
    background-color: #eee;
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: monospace;
    color: darkblue;
    text-decoration: underline;
}

.calculation > .name {
    display: inline-block;
}

.calculation > .keyword {
    display: inline-block;
}

.calculation > .expression {
    display: inline-block;
    /*width: 500px;
    height: 40px;*/
}

canvas.decorationsOverviewRuler {
    display: none;
}

.slider {
    display: none;
}