h2 {
    font-family: monospace
}

body {
    background-color: #eee;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    left:30%;
    top: 30%;
    position: absolute;
    z-index: 1;
}

input[type="text"] {
    width: 95%;
    margin-bottom: 10px;
}

.output{
    color: #7132a8;
    font-size: 14px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.output p::after {
    content: "";
    width: 0.5px;
    height: 14px;
    background:#7132a8;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}
